body {
	background-color: #f8f8f8;
}
.top img{
	width: 100%;
}
#container1{
	background-color: white;
	height: 1000px;/*vou tirar dps que tirar os ctd*/
	
}
.navbar{
	margin-bottom: 0px;
}
#footer p{

	text-align: center;
	color: white;
}

#footer {
	padding: 40px;
	background-color: black;
	border-style: solid;
    border-top-color:#333333;
    border-bottom-color:#0d0d0d;
    border-left-color:black;
    border-right-color:black;
    border-top-width: 15px;
}

#container2{

}